page-import-success {
  .success-box {
    text-align: center;
    margin: 50px 0 80px 0;
    .icon {
      font-size: 5em;
    }
  }
  
  .comfirm-btn {
      text-align:center;
      .button-ios {
          padding: 0 2em;
      }
  }
  
}
