page-address {
  .mt5 {
    margin-top: 5px;
  }
  
  .list-ios{
      margin:0;
  }

  .address-list {
    .input-wrapper {
      font-size: 1.5rem;
    }
    ion-label {
      white-space: normal;
    }
  }
}
