<ion-header>
	<ion-navbar>
		<ion-title>
			{{title}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="article tint" [innerHtml]="content" *ngIf="!loadError && !isLoading"></div>

	<div class="load-container" *ngIf="isLoading">
		<div>
			<ion-spinner></ion-spinner>
			<div>正在加载...</div>
		</div>
	</div>

	<div class="load-container" *ngIf="loadError" (click)="ngOnInit()">
		<div>
			<ion-icon name="refresh"></ion-icon>
			<div>点击屏幕，重新加载</div>
		</div>
	</div>
</ion-content>


